<app-cabecalho></app-cabecalho>

<div class="signup-container">
  <div class="signup-box">
    <h2 class="title">CRIAR A SUA CONTA</h2>
    <p class="subtitle">Preencha o formulário</p>

    <form class="form">
      <div class="form-group">
        <input type="text" placeholder="Nome" class="input" />
      </div>
      <div class="form-group">
        <input type="email" placeholder="E-mail" class="input" />
      </div>
      <div class="form-group">
        <input type="password" placeholder="Senha" class="input" />
      </div>

      <button type="submit" class="btn">CRIAR</button>
    </form>
  </div>
</div>
